## Strings

You can use single/double/triple quotes.

In [2]:
str_single = 'Hello'
str_single

'Hello'

In [3]:
type(str_single)

str

In [5]:
str_double = "Python"
str_double

'Python'

In [3]:
"""
Very long text
Several strings
"""

'\nVery long text\nSeveral strings\n'

In [7]:
str_triple

'\nVery long text\nSeveral strings\n'

In [8]:
print(str_triple)

Very long text
Several strings

In [11]:
str_double_triple = """
Also very long text
Two strings
"""
print(str_double_triple)

Also very long text
Two strings

String Indexing and Slicing are similar to Lists

In [12]:
name = 'Moscow'

In [13]:
name[0]

'M'

In [14]:
name[-1]

'w'

In [15]:
name[1:-1]

'osco'

In [16]:
name[::-1]

'wocsoM'

In [17]:
name[10]

IndexError: string index out of range

But string immutable type

In [9]:
#name[0] = 'B'

email = 'email@email.com'
name = 'Tom'

contact_data = email + " " + name

In [12]:
name = 'Kazan'
for s in name:
    print(s, end=',')

K,a,z,a,n,

### Built-in Functions

In [14]:
name = 'Nizhny Novgorod'

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it returns -1.

In [15]:
name.find('No')

7

In [17]:
'Novgorod' in name

True

In [32]:
name.find('No', 0, 5)

-1

**capitalize( )** is used to capitalize the first element in the string.

In [18]:
city = 'london'

In [19]:
city.capitalize()

'London'

In [35]:
another_city = 'new york'
another_city.capitalize()

'New york'

**index( )** works the same way as **find( )** function the only difference is find returns '-1' when the input element is not found in the string but **index( )*** function throws a ValueError

In [20]:
capital = 'Moscow'
capital.index('s')

2

In [21]:
capital.index('k')

ValueError: substring not found

**endswith( )** function is used to check if the given string ends with the particular char which is given as input.

In [27]:
city = 'Paris'
city.endswith('p')

False

In [26]:
city.endswith('s')

True

**count( )** function counts the number of char in the given string.

In [57]:
our_city = 'Nizhny Novgorod'
our_city.count('N')

2

**join( )** function is used add a char in between the elements of the input string.

In [32]:
p = 'python'

lst = ['+74343', '+4343', '+4343']

join_p = ','.join(lst)
phones  = 'Телефоны:' + join_p

In [34]:
phones

'Телефоны:+74343,+4343,+4343'

**join( )** function can also be used to convert a list into a string.

In [64]:
p_list = list(p)

In [65]:
p_list

['p', 'y', 't', 'h', 'o', 'n']

In [66]:
p_str = ''.join(p_list)
p_str

'python'

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the **join()** function.

In [36]:
URL = 'www.domain.ru/api/v1/menu/12345'
url_list = URL.split('/')
url_list

['www.domain.ru', 'api', 'v1', 'menu', '12345']

**replace( )** function replaces the element with another element.

In [77]:
url = 'www.<domain>.ru'
new_url = url.replace('<domain>', 'yandex')

In [78]:
print(url)
print(new_url)

www.<domain>.ru
www.yandex.ru

**strip( )** function is used to delete elements from the right end and the left end which is not required.

In [79]:
str_with_dash = '___python___'
str_with_dash.strip('_')

'python'

In [80]:
str_with_dash

'___python___'

In [81]:
str_with_nr = 'python\n\r'
str_with_nr.strip('\n\r')

'python'

In [82]:
str_with_spaces = '     python  '
str_with_spaces.strip()

'python'

**format()** Return a formatted version of string

In [86]:
message = 'Happy Pythoning {}!'.format('Artem')

In [85]:
message

'Happy Pythoning Artem'

In [37]:
text = 'text1'
text_1 = 'text2'
text_2 = text + text_1

In [91]:
message = '{} {} {}'.format(1, 2, 3)

In [88]:
message

'1 2 3'

### Dictionaries

Structure: key - value. To define a dictionary, equate a variable to { } or dict()

In [39]:
man = {}
woman = dict()

In [40]:
type(man), type(woman)

(dict, dict)

In [41]:
man['name'] = 'Ivan'
man['age'] = '20'

In [96]:
man

{'name': 'Ivan', 'age': '20'}

In [97]:
man['name']

'Ivan'

In [98]:
'name' in man

True

In [44]:
man['name'] = 'Tom'

In [45]:
man

{'name': 'Tom', 'age': '20'}

### Built-in Functions

In [51]:
for key in man:
    print(man[key])

Tom
20

**items( )**

In [117]:
man.items()

dict_items([('name', 'Ivan'), ('age', '20')])

In [118]:
for key, value in man.items():
    print(key, value)

name Ivan
age 20

**keys( )**

In [52]:
for key in man.keys():
    print(key)

name
age

**values( )**

In [115]:
for value in man.values():
    print(value)

Ivan
20

**clear( )** function is used to erase the entire database that was created.

In [119]:
man.clear()

In [120]:
man

{}

In [123]:
woman['name'] = 'Dasha'
woman['age'] = '20'
woman

{'name': 'Dasha', 'age': '20'}

In [124]:
del woman['age']
woman

{'name': 'Dasha'}

In [125]:
value = woman.pop('name')
woman

{}

In [126]:
value

'Dasha'